<header class="bg-yellow-500 flex-col text-white px-6 py-4">
  <div class="flex justify-between items-center w-full">
    <img src="assets/logo.png" alt="Logo" class="h-10 -translate-x-3">

    <div class="flex space-x-4">
      <button class=" px-4 py-2 rounded">Saiba Mais</button>
      <button class=" px-4 py-2 rounded">Missões</button>
      <button class=" px-4 py-2 rounded">Cursos Online</button>
      <button class=" px-4 py-2 rounded">Comunidade</button>
    </div>
  </div>

  <div class="mt-4 w-full h-1 bg-white rounded"></div>
</header>
