<header class="app-header header-sticky">
  <div class="container-fluid d-flex align-items-center gap-3 py-2">

    <nav class="d-flex align-items-center gap-4">
      <a class="toplink fw-semibold" routerLink="/backoffice/dashboard" routerLinkActive="active">Dashboard</a>

      <a *ngIf="auth.isAdmin()" class="toplink" routerLink="/backoffice/users" routerLinkActive="active">Utilizadores</a>
      <a class="toplink" routerLink="/backoffice/courses" routerLinkActive="active">Cursos</a>
      <a *ngIf="auth.isAdmin()" class="toplink" routerLink="/backoffice/roles" routerLinkActive="active">Funções</a>
      <a class="toplink" routerLink="/backoffice/areas" routerLinkActive="active">Áreas</a>
      <a class="toplink" routerLink="/backoffice/modalities" routerLinkActive="active">Modalidades</a>
      <a class="toplink" routerLink="/backoffice/videos" routerLinkActive="active">Vídeos</a>
      <a class="toplink" routerLink="/backoffice/quizzes" routerLinkActive="active">Quizzes</a>
      <a class="toplink" routerLink="/backoffice/questions" routerLinkActive="active">Questions</a>
    </nav>

    <div class="ms-auto d-flex align-items-center gap-3">
      <div class="dropdown">
        <button class="btn p-0 border-0 bg-transparent" (click)="toggleDropdown()">
        <span class="avatar">
          <img [src]="userPhoto" alt="Perfil" class="avatar-img" (error)="onAvatarError($event)">
        </span>
        </button>
        <div *ngIf="dropdownOpen()" class="dropdown-menu dropdown-menu-end show mt-2 p-2 rounded shadow-sm">
          <ng-container *ngIf="auth.isLoggedIn(); else guest">
            <span class="dropdown-item-text">{{ auth.user()?.username }}</span>
            <button (click)="logout()" class="dropdown-item w-100 text-start">Logout</button>
          </ng-container>
          <ng-template #guest>
            <a routerLink="/login" class="dropdown-item">Login</a>
            <a routerLink="/register" class="dropdown-item">Registar</a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</header>