:host {
  display: block;
  width: 260px;
}

.sidebar.sidebar-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 260px;
  z-index: 1030; 
  background-color: #fff;
  border-right: 1px solid #dee2e6;
  margin-top: 10px;
}

.sidebar .nav-link.active {
  font-weight: 600;
}

.sidebar-logo {
  height: 50px;       
  width: auto;
  object-fit: contain;
}


@media (max-width: 991.98px) {
  :host {
    width: 100%;
  }

  .sidebar.sidebar-fixed {
    top: 260px;
    left: -100%;
    transition: left .2s;
    z-index: 1031;
  }

  body.sidebar-show .sidebar.sidebar-fixed {
    left: 0;
  }
}
