:root {
  --admin-header-height: 72px;    
  --admin-sidebar-width: 260px;
}
  
main {
  padding-top: 72px;
  margin-left: 0;
  min-height: calc(100vh - 72px);
  background: #fff;
}

body { margin: 0; }
