:root {
  --admin-header-height: 56px; 
  --admin-sidebar-width: 260px;
}

main {
  padding-top: var(--admin-header-height); 
  margin-left: 0;
  margin-top: -100px;
}

@media (min-width: 992px) {
  main { margin-left: var(--admin-sidebar-width); } 
}

body { margin: 0; }
