@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --admin-sidebar-width: 260px;
  --admin-header-height: 56px;
}

.isla-color-text{
   color: #762123;
}


.btn.btn-primary.isla-color-bg {
  background-color: #762123;
  border-color: #762123;
}

/* hover e active mais escuros */
.btn.btn-primary.isla-color-bg:hover,
.btn.btn-primary.isla-color-bg:active,
.btn.btn-primary.isla-color-bg:focus {
  background-color: #952a2b !important;
  border-color: #952a2b !important;
}