<footer class="bg-black text-white">
  <div class="flex flex-col px-6 py-8">
    <div>
      <h3 class="text-lg font-semibold mb-2">Contactos</h3>
      <p>Email: info@islagaia.pt</p>
      <p>Telefone: 22 377 2980</p>
      <p>Endereço: R. Diogo Macedo 192, 4400-107 Vila Nova de Gaia</p>
    </div>
  </div>


  <div class="bg-white w-full px-6 py-4 flex justify-between items-center text-black">
    <span>Politica de tratamento de dados</span>
    <span>Produção Multimédia © 2025 COFAC</span>
  </div>
</footer>