:host {
  display: block;
  padding-top: 20px;
}

.sticky-top-under-app {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
  padding: .5rem 1rem;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.card-body {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-6 {
  font-size: 1.75rem;
}